<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web serial</title>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var socket = io.connect();

            socket.on('connect', function () {
                socket.emit('connect_event', {data: 'connected!'});
            });

            socket.on('server_response', function (msg) {
                old = $('#receive_text').val();
                $('#receive_text').val(old + msg.data + '\n');
                $('#receive_text').scrollTop($('#receive_text')[0].scrollHeight);
            });

            refreshPort();
        });

        function refreshPort() {
            //清空原有select内的数据
            $("#select_port").empty();
            $.get({
                url: "/api/list/ports",
                dataType: 'json',
                success: function (data) {
                    console.info(data);
                    $("#select_port").append("<option value='-1'>--请选择--</option>");
                    $.each(data.data, function (index, item) {
                        $("#select_port").append("<option value='" + item + "'>" + item + "</option>");
                    });
                },
                error: function (xhr, status, error) {
                    alert("刷新端口失败，请检查网络连接");
                }
            });
        }

        function openOrClosePort() {
            btn_port = $("#btn_open_port").val();
            console.info(btn_port);
            if (btn_port === '打开串口') {
                openPort();
            } else {
                closePort();
            }
        }

        function closePort() {
            $.post({
                url: "/api/close/port",
                data: {
                    port: port
                },
                dataType: 'json',
                success: function (data) {
                    console.info(data);
                    if (data.error) {
                        alert(data.error);
                    } else {
                        $("#btn_open_port").val("打开串口");
                    }
                },
                error: function (xhr, status, error) {
                    alert("关闭端口失败，请检查网络连接");
                }
            });
        }

        function openPort() {
            port = $('#select_port option:selected').val();
            baudrate = $('#baudrate option:selected').val();
            bytesizes = $('#bytesizes option:selected').val();
            stopbits = $('#stopbits option:selected').val();
            parities = $('#parities option:selected').val();
            console.info(port);
            if (port === '-1') {
                alert("请选择正确端口号");
                return;
            }
            $.post({
                url: "/api/open/port",
                data: {
                    port: port, baudrate: baudrate, bytesizes: bytesizes,
                    stopbits: stopbits, parities: parities
                },
                dataType: 'json',
                success: function (data) {
                    console.info(data);
                    if (data.error) {
                        alert(data.error);
                    } else {
                        $("#btn_open_port").val("关闭");
                    }
                },
                error: function (xhr, status, error) {
                    alert("打开端口失败，请检查网络连接");
                }
            });
        }

        function cleanRx() {
            $("#receive_text").val('');
        }

        function sendData() {
            data = $("#send_text").val();
            end_line = $("#end_line").val();
            console.info(data);
            if (data === '') {
                alert("发送数据不能为空");
            }
            $.post({
                url: "/api/write/data",
                data: {data: data, end_line: end_line},
                dataType: 'json',
                success: function (data) {
                    console.info(data);
                    if (data.error) {
                        alert(data.error);
                    } else {

                    }
                },
                error: function (xhr, status, error) {
                    alert("发送数据失败，请检查网络连接");
                }
            });
        }

    </script>
</head>

<body>
<div>
    <label for="select_port">串口:</label>
    <select id="select_port"></select>
    &nbsp;
    <label for="baudrate">波特率:</label>
    <select id="baudrate">
        <option value="9600" selected>9600</option>
        <option value="19200">19200</option>
        <option value="38400">38400</option>
        <option value="57600">57600</option>
        <option value="115200">115200</option>
    </select>
    &nbsp;
    <label for="bytesizes">数据位:</label>
    <select id="bytesizes">
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8" selected>8</option>
    </select>
    &nbsp;
    <label for="stopbits">停止位:</label>
    <select id="stopbits">
        <option value="1" selected>1</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
    </select>
    &nbsp;
    <label for="parities">校验位:</label>
    <select id="parities">
        <option value="N" selected>NONE</option>
        <option value="E">EVEN</option>
        <option value="O">ODD</option>
        <option value="S">SPACE</option>
        <option value="M">MARK</option>
    </select>
    <br>
    <input type="button" value="刷新" onclick="refreshPort()">
    <input type="button" value="打开串口" id="btn_open_port" onclick="openOrClosePort()">
    <br><br>
    <label for="receive_text">数据接收:</label>
    <br>
    <textarea id="receive_text" rows="10" cols="120" readonly="readonly" style="overflow-y:auto"></textarea>
    <br>
    <label><input type="radio" name="rx_mode"/>字符模式</label>
    <label><input type="radio" name="rx_mode"/>十六进制</label>
    <input type="button" value="清空接收" onclick="cleanRx()">
    <input type="button" value="暂停接收">
    <br><br>
    <label for="send_text">数据发送:</label>
    <br>
    <textarea id="send_text" rows="10" cols="120"></textarea>
    <br>
    <label><input type="radio" name="tx_mode"/>字符模式</label>
    <label><input type="radio" name="tx_mode"/>十六进制</label>
    &nbsp;
    <label for="end_line">换行符:</label>
    <select id="end_line">
        <option value="" selected>无</option>
        <option value="rn">\r\n</option>
        <option value="r">\r</option>
    </select>
    &nbsp;
    <input type="button" value="发送" id="btn_send_text" onclick="sendData()">


</div>

</body>
</html>